{{ define "pages/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <h1>Hi.</h1>
    <form action="/" method="POST">
      <textarea name="dirty-json"></textarea>

      <input type="submit" value="Submit">
    </form>

    {{ if .Pretty }}
      <hr>
      <pre><code>{{ .Pretty }}</code></pre>
    {{ end }}
  </body>
</html>
{{ end }}
