{{ define "pages/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <main>
      <header><img src="/assets/images/logo.png" width="50"> <h1>Yeppeun</h1></header>

      <!-- the actual input form -->
      <form action="/" method="POST">
        <textarea name="ugly" resize="none">{{ .Ugly }}</textarea>

        <input type="submit" value="Submit">
      </form>

      <!-- if cleaned json is available, it will be printed below -->
      {{ if .Pretty }}
        <noscript>
          <style>
            .copy {
              display: none !important;
            }

            pre > code {
              color: var(--black) !important;
            }
          </style>
        </noscript>

        <hr>
        <pre><span class="copy"><span>Copied!</span><svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M768 1664h896v-640h-416q-40 0-68-28t-28-68v-416h-384v1152zm256-1440v-64q0-13-9.5-22.5t-22.5-9.5h-704q-13 0-22.5 9.5t-9.5 22.5v64q0 13 9.5 22.5t22.5 9.5h704q13 0 22.5-9.5t9.5-22.5zm256 672h299l-299-299v299zm512 128v672q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-160h-544q-40 0-68-28t-28-68v-1344q0-40 28-68t68-28h1088q40 0 68 28t28 68v328q21 13 36 28l408 408q28 28 48 76t20 88z" fill="#fff"/></svg></span><code class="language-js">{{ .Pretty }}</code></pre>

        <script src="/assets/js/app.js?v={{ ran_at }}"></script>
        <script src="/assets/js/prism.js?v={{ ran_at }}"></script>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
