{{ define "pages/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <main>
      <header><img src="/assets/images/logo.png" width="50"> <h1>Yeppeun</h1></header>

      <!-- the actual input form -->
      <form action="/" method="POST">
        <textarea name="ugly" resize="none">{{ .Ugly }}</textarea>

        <input type="submit" value="Submit">
      </form>

      <!-- if cleaned json is available, it will be printed below -->
      {{ if .Pretty }}
        <hr>
        <pre><code class="language-js">{{ .Pretty }}</code></pre>
      {{ end }}
    </main>

    <script src="/assets/js/prism.js?v={{ ran_at }}"></script>
  </body>
</html>
{{ end }}
