{{ define "pages/pretty.tmpl" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "partials/meta" }}
    {{ template "partials/styles" }}
  </head>

  <body>
    <a href="/">back</a>
    <form action="/" method="POST">
      <pre><code>{{ .Pretty }}</code></pre>
    </form>
  </body>
</html>
{{ end }}
