/*
 *
 * app.css: make it yeppeun
 *
 */

:root {
  font-size: 18px;

  --ff: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --black: #131313;
  --gray: #eee;
  --pink: #d32b74;
  --pink-darker: #c31b64;
  --pink-darkest: #a30b54;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff);
  font-size: 100%;
  color: var(--black);
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body > main {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  background: var(--gray);
  border: none;
  width: 100%;
  min-height: 350px;
  resize: none;
  padding: 1em;
  border-radius: .3em;
}

textarea:focus {
  outline: 1px solid var(--pink);
}

main {
  display: block;
}

main > header {
  display: flex;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

header > img {
  align-self: center;
  margin-right: .5rem;
}

hr {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: var(--gray);
  margin-bottom: 1rem;
  height: 1px;
}

form > input[type="submit"] {
  margin: 1rem 0;
}

input[type="submit"] {
  padding: 6px 12px;
  border: 1px solid transparent;
  outline: none;
  border-radius: .3em;
  color: #fff;
  background-color: var(--pink);
  cursor: pointer;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: var(--pink-darker);
}

input[type="submit"]:focus {
  background-color: var(--pink-darkest);
}
