/*
 *
 * app.css: make it yeppeun
 *
 */

:root {
  font-size: 18px;

  --black: #131313;
  --gray: #eee;
  --pink: #d32b74;
}

html,
body {
  font-family: mono;
  color: var(--black);
}

body > main {
  max-width: 1280px;
  margin: 0 auto;
}

textarea {
  background: var(--gray);
  border: none;
  width: 100%;
  min-height: 350px;
  resize: none;
}

textarea:focus {
  outline: 1px solid var(--pink);
}

main > header {
  display: flex;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

header > img {
  align-self: center;
  margin-right: .5rem;
}
